<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>------------------------------------</string>
			<string>33BA990A-F534-4056-BB07-B56B8C2E13C9</string>
			<string>------------------------------------</string>
			<string>BA0B3506-2E0A-4CFD-BCD4-5862ABB99C03</string>
			<string>------------------------------------</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>33BA990A-F534-4056-BB07-B56B8C2E13C9</key>
			<dict>
				<key>items</key>
				<array>
					<string>CBD4BE81-7D67-42A6-B788-C226445F3F7D</string>
					<string>2A05352A-65D9-42E7-B663-20DC85910E10</string>
					<string>66F06CBA-A54F-47E0-B08C-E24E38EFB887</string>
					<string>E085970E-B025-4BA1-B2AB-FE1B8708A065</string>
					<string>61EC37A7-E430-4FD5-AC79-A39AAC377404</string>
					<string>1ED0313D-C4DF-48FA-9843-DD597BD6FD81</string>
					<string>BA56484E-F193-4AE6-B2C0-D2639121B5D7</string>
					<string>EE9CE83A-4D76-42B5-9E05-35D1D297EEC6</string>
					<string>3EB1F15A-6465-4787-A425-96FAAC94E0AB</string>
					<string>DF4997EA-DE2C-4233-B21E-76F23DB64D72</string>
				</array>
				<key>name</key>
				<string>Plugins</string>
			</dict>
			<key>BA0B3506-2E0A-4CFD-BCD4-5862ABB99C03</key>
			<dict>
				<key>items</key>
				<array>
					<string>0F1E089E-D2AE-485A-B787-59525C3252A9</string>
					<string>01DD9C08-98E0-4435-9FA1-C36049BA78F3</string>
					<string>D5F1C533-DAC9-4419-BDF7-900CEEF486F2</string>
				</array>
				<key>name</key>
				<string>Other</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Octopress</string>
	<key>ordering</key>
	<array>
		<string>CBD4BE81-7D67-42A6-B788-C226445F3F7D</string>
		<string>2A05352A-65D9-42E7-B663-20DC85910E10</string>
		<string>0F1E089E-D2AE-485A-B787-59525C3252A9</string>
		<string>66F06CBA-A54F-47E0-B08C-E24E38EFB887</string>
		<string>E085970E-B025-4BA1-B2AB-FE1B8708A065</string>
		<string>61EC37A7-E430-4FD5-AC79-A39AAC377404</string>
		<string>01DD9C08-98E0-4435-9FA1-C36049BA78F3</string>
		<string>D5F1C533-DAC9-4419-BDF7-900CEEF486F2</string>
		<string>1ED0313D-C4DF-48FA-9843-DD597BD6FD81</string>
		<string>BA56484E-F193-4AE6-B2C0-D2639121B5D7</string>
		<string>EE9CE83A-4D76-42B5-9E05-35D1D297EEC6</string>
		<string>3EB1F15A-6465-4787-A425-96FAAC94E0AB</string>
		<string>DF4997EA-DE2C-4233-B21E-76F23DB64D72</string>
	</array>
	<key>uuid</key>
	<string>2555D13A-6517-498F-8016-E7FC74037C61</string>
</dict>
</plist>
